<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
  
</head>
<body>
  <div class='user-info'>
    <div class="avatar-name">
    <%if(user.avatar) {%>
      
        <img src="<%=user.avatar%>" class="circle avatar-img">
      
    <%} else { %>
      <i class="small material-icons">perm_identity</i>
    <%}%>
    <span class='username'>
      <%=user.name%>'s Page
    </span>
  </div>
  <div>
    <form action="/users/<%=user._id%>/role?_method=PUT" method="POST" class='identification-form'>
      <%if(!user.role) { %>
        <select name="role" id='role-selector' onchange="this.form.submit()">
            <option value="">Select your role</option>
            <option value="Teacher">I am a teacher</option>
            <option value="Student">I am a student</option>
        </select>
      <%} else { %>
        <span>Role: <%=user.role %></span>
      <% } %>  
        <% if(user.role && !user.city) {%>
          <% if(user.role === "Teacher") { %>
            <select name="city" id='role-selector' onchange="this.form.submit()">
                <option value="">Select your city</option>
                <option value="Austin">ATX</option>
                <option value="Dallas">DAL</option>
                <option value="Los Angeles">LA</option>
                <option value="San Diego">SD</option>
            </select>
          <% } %>
        <%} if(user.city) { %>
          <span>City: <%=user.city %></span>

        <%}%>       
    </form>    
  </div>
  </div>  
</body>
</html>